In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from config import t_key

In [2]:
bus_csv = "CSVs/filter_bus.csv"
#Read in CSV
bus_stops_df = pd.read_csv(bus_csv, encoding="utf-8")
#Display first five rows
bus_stops_df.head()

,Unnamed: 0,X,Y,OBJECTID,StopID,NextRide,Location,Juris,Shelter,Bench,...,Info_Display,Type_,DateUpdated,Sidewalk,Photo,ATIS_ID,Direction,Long,Lat,Routes
0,0,-111.823076,33.414719,1,5182.0,16020.0,MESA DR & MAIN ST,Mesa,1.0,1.0,...,No,Standard,1.541148e+12,NaN,https://farm9.staticflickr.com/8719/1692170720...,5196.0,Southbound,-111.823076,33.414719,120
1,1,-111.822766,33.415684,2,2982.0,16001.0,MESA DR & MAIN ST,Mesa,1.0,4.0,...,Yes,LINK,1.541148e+12,Yes,https://farm1.staticflickr.com/757/21334866928...,2996.0,Northbound,-111.822766,33.415684,120
2,2,-111.822934,33.425734,3,4681.0,16016.0,MESA DR & 6TH ST,Mesa,1.0,1.0,...,No,Standard,1.541148e+12,Yes,https://farm8.staticflickr.com/7288/1632759920...,4695.0,Southbound,-111.822934,33.425734,120
3,3,-111.823048,33.422048,4,4682.0,16017.0,MESA DR & UNIVERSITY DR,Mesa,1.0,1.0,...,No,Standard,1.541148e+12,Yes,https://farm9.staticflickr.com/8622/1630995151...,4696.0,Southbound,-111.823048,33.422048,120
4,4,-111.823069,33.416883,5,4679.0,16019.0,MESA DR & 1ST ST,Mesa,0.0,1.0,...,No,Standard,1.541148e+12,Yes,https://farm8.staticflickr.com/7292/1587753502...,4693.0,Southbound,-111.823069,33.416883,120

In [8]:
#Delete unwatned columns
clean_bus_df = bus_stops_df.drop(['Unnamed: 0','NextRide', 'Photo', 'ATIS_ID', 'Em_Call', 'Lighting','OBJECTID', 'Routes', 'Bathroom','Direction', 'DateUpdated', 'ADA', 'PublicArt', 'Shelter', 'Bench','BusBay', 'BikeRack', 'WaterFountain', 'TrashCan', 'Info_Display', 'Sidewalk'], axis=1)
#Display first five rows
clean_bus_df

,X,Y,StopID,Location,Juris,Type_,Long,Lat
0,-111.823076,33.414719,5182.0,MESA DR & MAIN ST,Mesa,Standard,-111.823076,33.414719
1,-111.822766,33.415684,2982.0,MESA DR & MAIN ST,Mesa,LINK,-111.822766,33.415684
2,-111.822934,33.425734,4681.0,MESA DR & 6TH ST,Mesa,Standard,-111.822934,33.425734
3,-111.823048,33.422048,4682.0,MESA DR & UNIVERSITY DR,Mesa,Standard,-111.823048,33.422048
4,-111.823069,33.416883,4679.0,MESA DR & 1ST ST,Mesa,Standard,-111.823069,33.416883
...,...,...,...,...,...,...,...,...
5530,-111.840096,33.412555,5069.0,COUNTRY CLUB DR & DANA AVE,Mesa,Standard,-111.840096,33.412555
5531,-111.930397,33.458342,30430.0,E. Continental Dr. & N. McAllister Ave.,Tempe,Standard,-111.930397,33.458342
5532,-111.900373,33.422489,NaN,S. Smith St. & E. University Dr.,Tempe,Standard,-111.900373,33.422489
5533,-112.059740,33.299619,40272.0,Desert Foothills Pkwy & S 16013,Phoenix,Standard,-112.059740,33.299619
5534,-112.059965,33.299685,40271.0,Desert Foothills Pkwy & S 16013,Phoenix,Standard,-112.059965,33.299685

In [10]:
#Create four differnet dataframes in order to submit for zipcode processing
df_one = clean_bus_df.iloc[0: 1000]
df_two = clean_bus_df.iloc[1000: 3001]
df_three = clean_bus_df.iloc[3001: 4500]
df_four = clean_bus_df.iloc[4500: 5535]
#Create individual CSV's for each dataframe
df_one.to_csv('new_bus_1.csv')
df_two.to_csv('new_bus_2.csv')
df_three.to_csv('new_bus_3.csv')
df_four.to_csv('new_bus_4.csv')

#CSV's save in group_project1/CSVs