In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint
from census import Census
from us import states

In [3]:
from config import (census_key, am_key)

In [3]:
rail_stops = pd.read_csv('C:/Users/Scott/Desktop/group_project1/CSVs\Valley_Metro_Light_Rail_Stations_View.csv')

In [70]:
rail_stops
del rail_stops['TVM'] 
del rail_stops['Image']     
del rail_stops['Image2']  
del rail_stops['BikeRacks'] 
del rail_stops['WaterFountain'] 
del rail_stops['Restroom'] 
del rail_stops['InfoDisplay'] 
del rail_stops['Em_Call']
del rail_stops['Bench'] 
del rail_stops['TrashCan']

In [71]:
rail_stops = rail_stops.loc[rail_stops["StationStatus"] == 'In Operation']

In [72]:
rail_stops

,X,Y,OBJECTID,StationId,StationName,Jurisdiction,StationStatus,POINT_X,POINT_Y,NextRide,Address
0,-112.100759,33.567397,1,1,19th Avenue / Dunlap Avenue,Phoenix,In Operation,-112.099389,33.567090,18608,1935 W Dunlap Ave
1,-111.830646,33.415107,2,35,Center Street / Main Street,Mesa,In Operation,-111.830660,33.415098,18602,26 East Main Street
2,-112.099629,33.552071,3,2,19th Avenue / Northern Avenue,Phoenix,In Operation,-112.099360,33.553190,18607,7832 N 19th Ave
3,-112.099701,33.537384,4,3,19th Avenue / Glendale Avenue,Phoenix,In Operation,-112.099329,33.538643,18606,6813 N 19th Ave
4,-111.987983,33.448170,5,21,44th Street / Washington,Phoenix,In Operation,-111.987983,33.448170,10018,4203 East Washington Street
...,...,...,...,...,...,...,...,...,...,...,...
83,-112.075240,33.447774,87,16,Jefferson / 1st Avenue,Phoenix,In Operation,-112.075202,33.447774,10013,70 South 1st Avenue
84,-111.822144,33.415064,88,36,Mesa Drive / Main Street,Mesa,In Operation,-111.822191,33.415078,18603,424 East Main Street
85,-111.974741,33.446930,89,22,50th St / Washington St,Phoenix,In Operation,-111.974741,33.446930,18716,4835 East Washingtpm Street
86,-111.802802,33.415236,90,37,Main St / Stapley Dr,Mesa,In Operation,-111.804935,33.415238,18717,1310 East Main Street
87,-111.790306,33.415317,91,38,Main St / Gilbert Rd,Mesa,In Operation,-111.789026,33.415376,18718,1864 East Main Street

In [80]:
url = 'https://geoservices.tamu.edu/Services/ReverseGeocoding/WebService/v04_01/Rest/?'
version = 4.1
query_url = f"{url}apiKey={am_key}&version=4.10&format=json&state=az&notStore=false"


zipcode = []
city = []
address = []


for index,row in rail_stops.iterrows():
    query_api = query_url+'&lat='+str(row['Y'])+'&lon='+str(row['X'])
    response = requests.get(query_api).json()  
    zipcode.append(response['StreetAddresses'][0]['Zip'])
    city.append(response['StreetAddresses'][0]['City'])
    address.append(response['StreetAddresses'][0]['StreetAddress'])

In [81]:
rail_stops['Zipcode'] = zipcode
rail_stops

,X,Y,OBJECTID,StationId,StationName,Jurisdiction,StationStatus,POINT_X,POINT_Y,NextRide,Address,Zipcode
0,-112.100759,33.567397,1,1,19th Avenue / Dunlap Avenue,Phoenix,In Operation,-112.099389,33.567090,18608,1935 W Dunlap Ave,85021
1,-111.830646,33.415107,2,35,Center Street / Main Street,Mesa,In Operation,-111.830660,33.415098,18602,26 East Main Street,85201
2,-112.099629,33.552071,3,2,19th Avenue / Northern Avenue,Phoenix,In Operation,-112.099360,33.553190,18607,7832 N 19th Ave,85021
3,-112.099701,33.537384,4,3,19th Avenue / Glendale Avenue,Phoenix,In Operation,-112.099329,33.538643,18606,6813 N 19th Ave,85015
4,-111.987983,33.448170,5,21,44th Street / Washington,Phoenix,In Operation,-111.987983,33.448170,10018,4203 East Washington Street,85034
...,...,...,...,...,...,...,...,...,...,...,...,...
83,-112.075240,33.447774,87,16,Jefferson / 1st Avenue,Phoenix,In Operation,-112.075202,33.447774,10013,70 South 1st Avenue,85003
84,-111.822144,33.415064,88,36,Mesa Drive / Main Street,Mesa,In Operation,-111.822191,33.415078,18603,424 East Main Street,85203
85,-111.974741,33.446930,89,22,50th St / Washington St,Phoenix,In Operation,-111.974741,33.446930,18716,4835 East Washingtpm Street,85034
86,-111.802802,33.415236,90,37,Main St / Stapley Dr,Mesa,In Operation,-111.804935,33.415238,18717,1310 East Main Street,85203
87,-111.790306,33.415317,91,38,Main St / Gilbert Rd,Mesa,In Operation,-111.789026,33.415376,18718,1864 East Main Street,85203

In [16]:
bus_stops = pd.read_csv('C:/Users/Scott/Desktop/group_project1/CSVs\Valley_Metro_Bus_Stops_View.csv')

In [17]:
bus_stops

del bus_stops['Shelter'] 
del bus_stops['Bench'] 
del bus_stops['TrashCan']
del bus_stops['BusBay']
del bus_stops['PublicArt'] 
del bus_stops['ADA'] 
del bus_stops['BikeRack'] 
del bus_stops['Lighting'] 
del bus_stops['Em_Call']
del bus_stops['Bathroom'] 
del bus_stops['Info_Display'] 
del bus_stops['Sidewalk']
del bus_stops['WaterFountain']
del bus_stops['Photo']
del bus_stops['OBJECTID']
del bus_stops['NextRide']
del bus_stops['Type_']
del bus_stops['DateUpdated']
del bus_stops['ATIS_ID']
del bus_stops['Direction']
del bus_stops['Routes']

In [18]:
bus_stops

,X,Y,StopID,Location,Juris,Long,Lat
0,-111.823076,33.414719,5182.0,MESA DR & MAIN ST,Mesa,-111.823076,33.414719
1,-111.822766,33.415684,2982.0,MESA DR & MAIN ST,Mesa,-111.822766,33.415684
2,-111.822934,33.425734,4681.0,MESA DR & 6TH ST,Mesa,-111.822934,33.425734
3,-111.823048,33.422048,4682.0,MESA DR & UNIVERSITY DR,Mesa,-111.823048,33.422048
4,-111.823069,33.416883,4679.0,MESA DR & 1ST ST,Mesa,-111.823069,33.416883
...,...,...,...,...,...,...,...
7659,-111.851604,33.582319,657.0,Shea Bl & Via Linda,Scottsdale,-111.851604,33.582319
7660,-111.834574,33.582273,628.0,Shea Bl & 114th St,Scottsdale,-111.834574,33.582273
7661,-111.788672,33.582602,5874.0,Shea Bl & 136th St,Scottsdale,-111.788673,33.582602
7662,-111.786510,33.582263,631.0,Shea Bl & 136th St,Scottsdale,-111.786510,33.582263
7663,-111.895926,33.538532,9750.0,Indian Bend & 86th St,Scottsdale,-111.897700,33.538510

In [4]:
new_csv = "../CSVs/filter_bus_1000.csv"
new_df = pd.read_csv(new_csv,encoding="utf-8", delimiter = ",")
#print(len(new_df))
#new_stops_df.head()
two_csv = "../CSVs/new_bus_2.csv"
two_df = pd.read_csv(two_csv,"utf-8", delimiter = ",")
#print(len(two_df))
#two_df.head()
three_csv = "../CSVs/filter_bus_3001-4500.csv"
three_df = pd.read_csv(three_csv,"utf-8", delimiter = ",")
#three_df.head()
#print(len(three_df))
four_csv = "../CSVs/filter_bus_4500-5535.csv"
four_df = pd.read_csv(four_csv,"utf-8", delimiter = ",")
#four_df.head()
#print(len(four_df))

In [5]:
updated_df = pd.concat([new_df, two_df, three_df, four_df])
updated_df

,NoName,X,Y,StopID,NextRide,Location,Juris,WaterFountain,ADA,Type_,...,ComputedZip,ComputedZipPlus4,Column1,Zipcode,StreetAddress,AUTO_UNIQUE_ID_2020-07-28_smavila1_new_bus_2,OBJECTID,DateUpdated,AUTO_UNIQUE_ID_2020-07-27_cceni03_filter_bus3001,AUTO_UNIQUE_ID_2020-07-28_czc5230_bus_4
0,0.0,-111.823076,33.414719,5182.0,16020.0,MESA DR & MAIN ST,Mesa,No,No,Standard,...,85201.0,7411.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,-111.822766,33.415684,2982.0,16001.0,MESA DR & MAIN ST,Mesa,No,No,LINK,...,85203.0,8739.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,-111.822934,33.425734,4681.0,16016.0,MESA DR & 6TH ST,Mesa,No,Yes,Standard,...,85201.0,5958.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,-111.823048,33.422048,4682.0,16017.0,MESA DR & UNIVERSITY DR,Mesa,No,Yes,Standard,...,85201.0,6726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,-111.823069,33.416883,4679.0,16019.0,MESA DR & 1ST ST,Mesa,No,Yes,Standard,...,85201.0,6707.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030,NaN,-111.840096,33.412555,5069.0,NaN,COUNTRY CLUB DR & DANA AVE,Mesa,NaN,NaN,Standard,...,85210.0,1225.0,5530.0,,,NaN,NaN,NaN,NaN,1031.0
1031,NaN,-111.930397,33.458342,30430.0,NaN,E. Continental Dr. & N. McAllister Ave.,Tempe,NaN,NaN,Standard,...,85281.0,1057.0,5531.0,,,NaN,NaN,NaN,NaN,1032.0
1032,NaN,-111.900373,33.422489,NaN,NaN,S. Smith St. & E. University Dr.,Tempe,NaN,NaN,Standard,...,85281.0,4681.0,5532.0,,,NaN,NaN,NaN,NaN,1033.0
1033,NaN,-112.059740,33.299619,40272.0,NaN,Desert Foothills Pkwy & S 16013,Phoenix,NaN,NaN,Standard,...,85048.0,8435.0,5533.0,,,NaN,NaN,NaN,NaN,1034.0
1034,NaN,-112.059965,33.299685,40271.0,NaN,Desert Foothills Pkwy & S 16013,Phoenix,NaN,NaN,Standard,...,85048.0,1934.0,5534.0,,,NaN,NaN,NaN,NaN,1035.0

In [6]:
#Deleted extra columns
final_df = updated_df.drop(['WaterFountain','ADA','TransactionId','Column1', 'Zipcode', 'StreetAddress', 'AUTO_UNIQUE_ID_2020-07-28_smavila1_new_bus_2','OBJECTID','AUTO_UNIQUE_ID_2020-07-28_czc5230_bus_4','AUTO_UNIQUE_ID_2020-07-27_cceni03_filter_bus3001', 'DateUpdated','Routes', 'Zip', 'Type_', 'Direction','AUTO_UNIQUE_ID_2020-07-27_pwewiora08_filter_bus_1000','NoName','City', 'Address', 'TimeTaken','Source','ComputedAPN', 'State', 'UpdatedReverseGeocoding', 'ErrorMessage','ATIS_ID','NextRide', 'Version'], axis=1)
#Dropped duplicates in case there was overlap
final_df.drop_duplicates(keep=False,inplace=True)

final_df

,X,Y,StopID,Location,Juris,Long,Lat,ComputedStreetAddress,ComputedCity,ComputedState,ComputedZip,ComputedZipPlus4
0,-111.823076,33.414719,5182.0,MESA DR & MAIN ST,Mesa,-111.823076,33.414719,315 E MAIN ST,Globe,AZ,85201.0,7411.0
1,-111.822766,33.415684,2982.0,MESA DR & MAIN ST,Mesa,-111.822766,33.415684,410 E MAIN ST,Mesa,AZ,85203.0,8739.0
2,-111.822934,33.425734,4681.0,MESA DR & 6TH ST,Mesa,-111.822934,33.425734,520 N MESA DR,Globe,AZ,85201.0,5958.0
3,-111.823048,33.422048,4682.0,MESA DR & UNIVERSITY DR,Mesa,-111.823048,33.422048,310 N MESA DR,Globe,AZ,85201.0,6726.0
4,-111.823069,33.416883,4679.0,MESA DR & 1ST ST,Mesa,-111.823069,33.416883,307 E 1ST ST,Globe,AZ,85201.0,6707.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1030,-111.840096,33.412555,5069.0,COUNTRY CLUB DR & DANA AVE,Mesa,-111.840096,33.412555,126 S COUNTRY CLUB DR,Apache Junction,AZ,85210.0,1225.0
1031,-111.930397,33.458342,30430.0,E. Continental Dr. & N. McAllister Ave.,Tempe,-111.930397,33.458342,515 E CONTINENTAL DR,Mesa,AZ,85281.0,1057.0
1032,-111.900373,33.422489,NaN,S. Smith St. & E. University Dr.,Tempe,-111.900373,33.422489,2010 E UNIVERSITY DR,Mesa,AZ,85281.0,4681.0
1033,-112.059740,33.299619,40272.0,Desert Foothills Pkwy & S 16013,Phoenix,-112.059740,33.299619,16013 S DESERT FOOTHILLS PKWY,Phoenix,AZ,85048.0,8435.0
1034,-112.059965,33.299685,40271.0,Desert Foothills Pkwy & S 16013,Phoenix,-112.059965,33.299685,1047 E AMBERWOOD DR,Phoenix,AZ,85048.0,1934.0

In [7]:
c = Census(census_key, year=2013)

In [8]:
census_data = c.acs5.get(("NAME", "B01003_001E", "B01003_001E", "B08301_010E"),
                          {'for': 'zip code tabulation area:*'})

In [9]:
census_pd = pd.DataFrame(census_data)

In [10]:
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B08136_007E": "Commute Time on Public Transportation",
                                      "B08301_010E": "Public Transportation Use",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [11]:
print(len(census_pd))
census_pd.head()

33120

          Name  Population  Public Transportation Use Zipcode
0  ZCTA5 01832     22121.0                      394.0   01832
1  ZCTA5 01833      8295.0                       84.0   01833
2  ZCTA5 01834      6675.0                      127.0   01834
3  ZCTA5 01835     13527.0                      247.0   01835
4  ZCTA5 01840      4547.0                      126.0   01840

In [12]:
census_data_complete = pd.merge(
    final_df, census_pd, how="left", on=["Zipcode", "Zipcode"])

KeyError: 'Zipcode'